*{
  font-family: Arial;
  margin: 0;

}

nav {
  background: #cc1100;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}


footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom: 0;
  width: 100%;
  margin: 0;


}
form {
    max-width: 500px; 
    margin: 40px auto; 
    padding: 30px;
    border: #333;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;

    
}
label{
  padding: 1px;
  border-radius: 3px;
  
}
button{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  background-color: rgb(117, 116, 116);
}